.square-flow {
  position: absolute;
  transform: translateY(-10vh);
  z-index: -50;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.square-flow .flow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0.4;
}

@keyframes scale-frames {
  0% {
    opacity: 0.1;
    transform: scale3d(0.4, 0.4, 1);
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
    transform: scale3d(0.4, 0.4, 1);
  }
}

@keyframes move-frames {
  from {
    transform: translate3d(var(--from-x), var(--from-y), 0);
  }
  to {
    transform: translate3d(var(--to-x), var(--to-y), 0);
  }
}

.square-flow:nth-child(1) {
  width: 8px;
  height: 8px;
  --from-x: 46vw;
  --from-y: 26vh;
  --to-x: 86vw;
  --to-y: -111vh;
  animation: move-frames 20s linear 1s infinite;
}
.square-flow:nth-child(1) .flow {
  animation: scale-frames 8s infinite;
}

.square-flow:nth-child(2) {
  width: 1px;
  height: 1px;
  --from-x: 79vw;
  --from-y: 41vh;
  --to-x: 37vw;
  --to-y: -115vh;
  animation: move-frames 40s linear 2s infinite;
}
.square-flow:nth-child(2) .flow {
  animation: scale-frames 9s infinite;
}

.square-flow:nth-child(3) {
  width: 1px;
  height: 1px;
  --from-x: 10vw;
  --from-y: 16vh;
  --to-x: 100vw;
  --to-y: -118vh;
  animation: move-frames 40s linear 4s infinite;
}
.square-flow:nth-child(3) .flow {
  animation: scale-frames 10s infinite;
}

.square-flow:nth-child(4) {
  width: 5px;
  height: 5px;
  --from-x: 90vw;
  --from-y: 72vh;
  --to-x: 34vw;
  --to-y: -108vh;
  animation: move-frames 40s linear 7s infinite;
}
.square-flow:nth-child(4) .flow {
  animation: scale-frames 11s infinite;
}

.square-flow:nth-child(5) {
  width: 5px;
  height: 5px;
  --from-x: 58vw;
  --from-y: 78vh;
  --to-x: 10vw;
  --to-y: -127vh;
  animation: move-frames 40s linear 9s infinite;
}
.square-flow:nth-child(5) .flow {
  animation: scale-frames 12s infinite;
}

.square-flow:nth-child(6) {
  width: 3px;
  height: 3px;
  --from-x: 15vw;
  --from-y: 33vh;
  --to-x: 49vw;
  --to-y: -132vh;
  animation: move-frames 40s linear 11s infinite;
}
.square-flow:nth-child(6) .flow {
  animation: scale-frames 13s infinite;
}

.square-flow:nth-child(7) {
  width: 3px;
  height: 3px;
  --from-x: 1vw;
  --from-y: 31vh;
  --to-x: 95vw;
  --to-y: -18vh;
  animation: move-frames 40s linear 13s infinite;
}
.square-flow:nth-child(7) .flow {
  animation: scale-frames 14s infinite;
}

.square-flow:nth-child(8) {
  width: 8px;
  height: 8px;
  --from-x: 32vw;
  --from-y: 110vh;
  --to-x: 67vw;
  --to-y: -136vh;
  animation: move-frames 40s linear 15s infinite;
}
.square-flow:nth-child(8) .flow {
  animation: scale-frames 15s infinite;
}

.square-flow:nth-child(9) {
  width: 7px;
  height: 7px;
  --from-x: 34vw;
  --from-y: 104vh;
  --to-x: 77vw;
  --to-y: -125vh;
  animation: move-frames 40s linear 17s infinite;
}
.square-flow:nth-child(9) .flow {
  animation: scale-frames 16s infinite;
}

.square-flow:nth-child(10) {
  width: 9px;
  height: 9px;
  --from-x: 77vw;
  --from-y: 102vh;
  --to-x: 99vw;
  --to-y: -131vh;
  animation: move-frames 40s linear 19s infinite;
}
.square-flow:nth-child(10) .flow {
  animation: scale-frames 17s infinite;
}

.square-flow:nth-child(11) {
  width: 8px;
  height: 8px;
  --from-x: 25vw;
  --from-y: 101vh;
  --to-x: 46vw;
  --to-y: -130vh;
  animation: move-frames 40s linear 21s infinite;
}
.square-flow:nth-child(11) .flow {
  animation: scale-frames 18s infinite;
}

.square-flow:nth-child(12) {
  width: 9px;
  height: 9px;
  --from-x: 70vw;
  --from-y: 107vh;
  --to-x: 69vw;
  --to-y: -118vh;
  animation: move-frames 40s linear 23s infinite;
}
.square-flow:nth-child(12) .flow {
  animation: scale-frames 19s infinite;
}

.square-flow:nth-child(13) {
  width: 8px;
  height: 8px;
  --from-x: 63vw;
  --from-y: 109vh;
  --to-x: 72vw;
  --to-y: -139vh;
  animation: move-frames 40s linear 25s infinite;
}
.square-flow:nth-child(13) .flow {
  animation: scale-frames 20s infinite;
}

.square-flow:nth-child(14) {
  width: 9px;
  height: 9px;
  --from-x: 24vw;
  --from-y: 105vh;
  --to-x: 36vw;
  --to-y: -124vh;
  animation: move-frames 40s linear 27s infinite;
}
.square-flow:nth-child(14) .flow {
  animation: scale-frames 21s infinite;
}

.square-flow:nth-child(15) {
  width: 6px;
  height: 6px;
  --from-x: 31vw;
  --from-y: 105vh;
  --to-x: 18vw;
  --to-y: -122vh;
  animation: move-frames 40s linear 29s infinite;
}
.square-flow:nth-child(15) .flow {
  animation: scale-frames 22s infinite;
}

.square-flow:nth-child(16) {
  width: 1px;
  height: 1px;
  --from-x: 86vw;
  --from-y: 107vh;
  --to-x: 86vw;
  --to-y: -135vh;
  animation: move-frames 40s linear 31s infinite;
}
.square-flow:nth-child(16) .flow {
  animation: scale-frames 23s infinite;
}

.square-flow:nth-child(17) {
  width: 2px;
  height: 2px;
  --from-x: 89vw;
  --from-y: 102vh;
  --to-x: 21vw;
  --to-y: -114vh;
  animation: move-frames 40s linear 33s infinite;
}
.square-flow:nth-child(17) .flow {
  animation: scale-frames 24s infinite;
}

.square-flow:nth-child(18) {
  width: 5px;
  height: 5px;
  --from-x: 24vw;
  --from-y: 104vh;
  --to-x: 94vw;
  --to-y: -110vh;
  animation: move-frames 40s linear 35s infinite;
}
.square-flow:nth-child(18) .flow {
  animation: scale-frames 25s infinite;
}

.square-flow:nth-child(19) {
  width: 10px;
  height: 10px;
  --from-x: 3vw;
  --from-y: 110vh;
  --to-x: 7vw;
  --to-y: -125vh;
  animation: move-frames 40s linear 37s infinite;
}
.square-flow:nth-child(19) .flow {
  animation: scale-frames 26s infinite;
}
