.dongionsdetail-box{
  margin-top: 5%;
  text-align: center;
  text-indent: 40px;
  font-size: calc(14px + 0.4vw);
}
.dongionsdetail-box>span{
  color: aqua;
}
.dongionsdetail-box span {
  font-style: italic;
  color: rgb(171, 244, 235);
}

.dongionsdetail-box-title{
  text-align: center;
  font-size: calc(20px + 1.5vw);
  box-shadow: 0 30px 40px rgba(250,250,250,.1);
  width: 90%;
  max-width: 700px;
}

.dongionsdetail-box-parts{
  margin: 1%;
  text-align: justify;
  box-shadow: 0 30px 40px rgba(250, 250, 250, 0.278);
  border-radius: 15px;
  padding: 5px 10px;
}

.dongionsdetail-title{
  color: rgb(1, 251, 218);
  font-size: calc(14px + 1.3vw);
}
.img-plans-intro{
  justify-content: center;
  text-align: center;
  text-indent: 0px;
}
.img-plans-intro img{
  margin: 10px 15px 0px 0px;
  width: calc(50px + 9vw);
  transition: 0.2s ease-in-out ;
}
.img-plans-intro img:hover{
  scale:1.8
}
#link-a-partes-intro a{
  text-decoration: none;
  color: rgb(0, 157, 255);
  font-size: calc(12px + 0.5vw);
  display: block;
  background-color: black;
  width: fit-content;
  text-indent: 0px;
  padding: 1px 5px;
}
#link-a-partes-intro{
  position: fixed;
  float: right;
  right: 20px;
}
#avanzar{
  color: red;
}
.folder-link{
float: right;
}
.intro-img-paisaje img{
  width: calc(40px + 4vw);
  margin: 2px 1px;
  border-radius: 10px;
  transition: 0.3s ease-in-out ;
}
.intro-img-paisaje img:hover{
scale: 2;
}
.intro-img-paisaje{
  justify-content: space-evenly;
  display: flex;
}
.important-intro{
  text-shadow: 2px 2px blue;
}
.button-intro-porque{
  text-decoration: none;
}
.lanzamiento-intro-expl{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(24, 2, 114, 0.29);
}
.lanzamiento-intro-expl-mobile {
  display: block;
  justify-content:space-evenly;
  width: 90%;
}

.lanzamiento-intro-expl img{
  transform: rotate(90deg);
  width: 100px;
  height: 100%;
  margin: 10px 20px;
  transition: 1s ease-in-out;
}
.lanzamiento-intro-expl img:hover{
transform:rotate(0deg);
width: 300px;
height: 100%;
max-width: 300px;
}
@media (max-width: 767px) {
  .lanzamiento-intro-expl {
    display: block;
    margin: 0px;
  }
.lanzamiento-intro-expl img:hover{
margin: -20px;
}

}