.dungeons-big-box{
  border: 2px white solid;
  width: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dungeon-big-box div{
display: flex;
justify-content: center;
margin-left: 0PX;
}
.dungeon-big-box img{
width: calc(100px + 8vw);
transition: 0.5s ease-in-out;
cursor: zoom-in;
}
