.dungeons-big-box{
  background-color: rgb(45, 45, 45);
  border: 2px white solid;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dungeon-big-box div{
display: flex;
justify-content: center;
}
.dungeon-big-box img{
width: calc(100px + 8vw);
transition: 0.5s ease-in-out;
cursor: zoom-in;
}
