/* HTML: <div class="loader"></div> */
.loaderCubeRotate {
  margin-top: 40px;
  width: 40px;
  aspect-ratio: 1;
  color: #00ffc8;
  position: relative;
  background:
    conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
    conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  animation: scale 10s infinite
}
.loaderCubeRotate:before {
  content:'';
  position: absolute;
  inset: 0;
  --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
  background:
    linear-gradient( 45deg,var(--g)),
    linear-gradient(-45deg,var(--g));
   animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l7 {
  33%  {inset:-10px;transform: rotate(0deg); color: #032a21}
  66%  {inset:-10px;transform: rotate(90deg);color: #032a21}
  100% {inset:0    ;transform: rotate(90deg); color: #00ffc8}
}
@keyframes scale {
  1%, 100%  {scale: 1;}
  66%  {scale: 2}
}


/* HTML: <div class="loader"></div> */
.loader3 {
  width: 0px;
  aspect-ratio: 1;
  color: var(--luchador);
  position: relative;
  /* background: radial-gradient(10px,currentColor 94%,#ef040400); */
  animation: resizing 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;

}
.loader3:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;
}
@keyframes l18 {
  96%  {inset:-50px;transform: rotate(290deg)}
  100% {inset:0;transform: rotate(0deg)}
}

@keyframes resizing {
  0% { width: 40px;}
  100%  {width: 1px;}
}





/* HTML: <div class="loader"></div> */
.loaderTalentBtn {
  width: calc(15px + 5vw);
  aspect-ratio: 1;
  color: var(--luchador);
  background: radial-gradient(circle, var(--luchador) 20%, black 100%);

  /* background: currentColor; */
  border-radius: 50%;
  position: relative;
}
.loaderTalentBtn:before {
  content: "";
  position: absolute;
  background:
    radial-gradient(farthest-side at bottom right,#0000 94%,#f1ba0654 96%) 0    0   ,
    radial-gradient(farthest-side at bottom left ,#0000 94%,#f1ba0654 96%) 100% 0   ,
    radial-gradient(farthest-side at top    left ,#0000 94%,#f1ba0654 96%) 100% 100%,
    radial-gradient(farthest-side at top    right,#0000 94%,#f1ba0654 96%) 0    100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: 
    l39-1 3s infinite,
    l39-2 3s infinite;
}
@keyframes l39-1 {
  0%,10%,90%,100% {inset:0}
  40%,60% {inset:-10px}
}

@keyframes l39-2 {
  0%,40%  {transform: rotate(0)}
  60%,100%{transform: rotate(360deg)}
}