/* HTML: <div class="loader"></div> */
.loaderCubeRotate {
  margin-top: 40px;
  width: 40px;
  aspect-ratio: 1;
  color: #00ffc8;
  position: relative;
  background:
    conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
    conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  animation: scale 10s infinite
}
.loaderCubeRotate:before {
  content:'';
  position: absolute;
  inset: 0;
  --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
  background:
    linear-gradient( 45deg,var(--g)),
    linear-gradient(-45deg,var(--g));
   animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l7 {
  33%  {inset:-10px;transform: rotate(0deg); color: #032a21}
  66%  {inset:-10px;transform: rotate(90deg);color: #032a21}
  100% {inset:0    ;transform: rotate(90deg); color: #00ffc8}
}
@keyframes scale {
  1%, 100%  {scale: 1;}
  66%  {scale: 2}
}


/* HTML: <div class="loader"></div> */
.loaderSelected {
  width: 0px;
  aspect-ratio: 1;
  color: var(--luchador);
  position: relative;
  /* background: radial-gradient(10px,currentColor 94%,#ef040400); */
  animation: resizing 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;
  position: absolute; /* Absoluto para posicionar relativo al padre */
  top: 50%;           /* Lleva el loader al centro vertical */
  left: 50%;          /* Lleva el loader al centro horizontal */
  transform: translate(-50%, -50%);
}
.loaderSelected:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;
}






/* HTML: <div class="loader"></div> */
.loaderTalentBtn {
  width: calc(15px + 5vw);
  aspect-ratio: 1;
  color: var(--luchador);
  background: radial-gradient(circle, var(--luchador) 20%, black 100%);

  /* background: currentColor; */
  border-radius: 50%;
  position: relative;
}
.loaderTalentBtn:before {
  content: "";
  position: absolute;
  background:
    radial-gradient(farthest-side at bottom right,#0000 94%,#f1ba0654 96%) 0    0   ,
    radial-gradient(farthest-side at bottom left ,#0000 94%,#f1ba0654 96%) 100% 0   ,
    radial-gradient(farthest-side at top    left ,#0000 94%,#f1ba0654 96%) 100% 100%,
    radial-gradient(farthest-side at top    right,#0000 94%,#f1ba0654 96%) 0    100%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  animation: 
    l39-1 3s infinite,
    l39-2 3s infinite;
}
@keyframes l39-1 {
  0%,10%,90%,100% {inset:0}
  40%,60% {inset:-10px}
}

@keyframes l39-2 {
  0%,40%  {transform: rotate(0)}
  60%,100%{transform: rotate(360deg)}
}



.bigLoaderAll{
  width: 0px;
  aspect-ratio: 1;
  color: var(--lineaTalento);
  position: relative;
  /* background: radial-gradient(10px,currentColor 94%,#ef040400); */
  animation: resizing 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;
  position: absolute; /* Absoluto para posicionar relativo al padre */
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
  z-index: 60;
}

.loaderSelectedBig1 {
  top: 50%;         
  left: 50%;     
  background-color: blue;
}

.loaderSelectedBig2 {
  top: 10%;         
  left: 10%;       
}
.loaderSelectedBig3 {
  top: 10%;         
  left: 30%;     
}
.loaderSelectedBig4 {
  top: 10%;         
  left: 50%;     
}
.loaderSelectedBig5 {
  top: 10%;         
  left: 70%;     
}
.loaderSelectedBig6 {
  top: 10%;         
  left: 90%;     

}
.loaderSelectedBig7 {
  top: 45%;         
  left: 10%;     

}
.loaderSelectedBig8 {
  top: 45%;         
  left: 30%;     

}
.loaderSelectedBig9 {
  top: 45%;         
  left: 50%;     
}
.loaderSelectedBig10 {
  top: 45%;         
  left: 70%;     
}
.loaderSelectedBig11 {
  top: 45%;         
  left: 90%;     
}
.loaderSelectedBig12 {
  top: 85%;         
  left: 10%;     
}
.loaderSelectedBig13 {
  top: 85%;         
  left: 30%;     
}
.loaderSelectedBig14 {
  top: 85%;         
  left: 50%;     
}
.loaderSelectedBig15 {
  top: 85%;         
  left: 70%;     
}
.loaderSelectedBig16 {
  top: 85%;         
  left: 90%;     
}


.bigLoaderAll:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s  cubic-bezier(0.3,1,0,1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes l18 {
  96%  {inset:-50px;transform: rotate(290deg)}
  100% {inset:0;transform: rotate(0deg)}
}

@keyframes resizing {
  0% { width: 40px;}
  100%  {width: 1px;}
}








/* HTML: <div class="loader"></div> */
.loaderDesarrollo {
  margin-top: 100px;
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 30px;
}
.loaderDesarrollo:before,
.loaderDesarrollo:after {
  content:"En desarrollo... Cuando tenga tiempo..";
  grid-area: 1/1;
  mask-size: 100% 5px,100% 100%;
  mask-repeat: no-repeat;
  mask-composite: xor;
  mask-composite: exclude;
  animation: l35-1 1s infinite;
}
.loaderDesarrollo:before {
  mask-image:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
}
.loaderDesarrollo:after {
  mask-image:
    linear-gradient(#000 0 0);
  animation:
    l35-1  1s infinite,
    l35-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}

@keyframes l35-1{
  0%   {-webkit-mask-position:0 20px,0 0}
  20%  {-webkit-mask-position:0 8px ,0 0}
  40%  {-webkit-mask-position:0 100%,0 0}
  60%  {-webkit-mask-position:0 3px ,0 0}
  80%  {-webkit-mask-position:0 15px,0 0}
  100% {-webkit-mask-position:0 0   ,0 0}
}
@keyframes l35-2{
  100% {transform:translate(0.1px)} 
}