.big-box-map{
  align-items: center;
  text-align: center;
  display: flex;
  width: 0px;
}
.big-box-map img{
 width: 200px;
}

.button-change-map1{
}
.button-change-map2{
}
.button-change-map3{
}

.app-container-map{
  margin-left: 60px;
  position:absolute;
  display: flex;
  z-index: 20;
  justify-content: center;
  text-align: center;
  background-color: black;
}