.big-monster-scroller{
  overflow: auto;
  white-space: nowrap;
  width: 155px;
  display: inline-block;
}
.monster-scroller{
  overflow: auto;
  white-space: nowrap;
}
.botón-borrar-monstruo{
  position: absolute;
  top: 50%;
  left: 32%;
  color: red;
  background-color: black;
  border-radius: 90px;
  transition: 1s ease-in-out;
}
.botón-borrar-monstruo:hover{
  color: white;
  background-color: red;
  scale: 1.4;
}
.botón-añadir{
  margin: 10px;
  padding: 10px 5px;
  border-radius: 90px;
  background-color: rgb(7, 110, 120);
  box-shadow: 4px 5px rgb(105, 102, 102);
  transition: 0.2s ease-in-out;
  color: black;
  font-weight: 800;
}
.botón-añadir:hover{
  background-color: rgb(0, 234, 255);
  box-shadow: 1px 1px white;
}
.botón-borrar{
  margin: 10px;
  padding: 10px 5px;
  border-radius: 90px;
  background-color: rgb(75, 5, 5);
  box-shadow: 4px 5px rgb(105, 102, 102);
  transition: 0.2s ease-in-out;
  color: black;
  font-weight: 800;
}
.botón-borrar:hover{
  background-color: rgb(255, 0, 0);
  box-shadow: 1px 1px white;
}
.btn-monstruos{
  text-align: center;
}
.background-pj-text-area h2{
background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666130956/donGions%20imgs/shop/wood_b25uub.jpg");
width: 25%;
font-size: calc(15px + .9vw);
text-align: center;
border: 2px white double;
border-radius: 10px;
}

.div-counter-monster{
  background-color: rgb(65, 75, 73);
  border-radius: 15px;
  width: 100%;
}
.monsters-counter-pj {
  background-color: rgb(48, 60, 57);
  display: flex;
  position: absolute;
  width: 30px;
  right: 0px;
  height: 80%;
  padding: 5px 10px;
  margin-top: 40px;
  border-radius: 20px;
  border: 3px solid rgb(8, 44, 15);
  transition: all 1s ease-in-out;
  color: rgb(243, 73, 73);
  overflow: hidden;
  white-space: nowrap;
}
.monsters-counter-pjs {
  background-color: rgb(48, 60, 57);
  display: flex;
  position: absolute;
  margin-top: 40px;
  width: 50%;
  right: 10px;
  height: 80%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 3px solid rgb(8, 44, 15);
  transition: all 1s ease-in-out;
  color: rgb(243, 73, 73);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.nav-items-pj {
  display: flex;
  position: absolute;
  font-size: 0.5vw;
  text-decoration: none;
  flex-direction: column;
  transition: all 1s ease-in-out;
  transition-delay: 1s;
  z-index: 20;
}
.nav-items-pj:hover {
  font-size: 3vw;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.5s;

}
.nav-items-pj-long{
    font-size: 3vw;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  flex-direction: column;
  transition: all 1s ease-in-out;
  display: flex;
  position: absolute;

}
.nav-items-pj-item {
  margin: 1px;
  color: grey;
  z-index: 20;
}
.nav-items-pj-item-long {
  margin: 1px;
  color: grey;
  z-index: 20;
  font-size: 40px;
}

.monsters-counter-pj:hover {
  right: 00px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  width: 50%;
}

.link-name-monster {
  text-decoration: none;
  padding: 3px;
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px green, 1px 1px rgb(32, 83, 3);
  text-align: center;
  margin: 0 auto
}
.button-monster-size{
  width: 150px;
}
.link-name-monster-show {
  display: flex;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 50px;
  text-decoration: none;
  color: rgb(98, 240, 126);
  font-size: 30px;
  text-shadow: 2px 2px green, 1px 1px rgb(32, 83, 3);
  transition: all 0.6s ease-in-out;
}
.link-name-monster-show:hover {
  display: flex;
  position: absolute;
  right: 20px;
  width: 60px;
  text-decoration: none;
  color: rgb(98, 240, 126);
  font-size: 30px;
  text-shadow: 2px 2px green, 1px 1px rgb(32, 83, 3);
  transition: all 0.6s ease-in-out;
}

.plans-name {
  font-family: alkalami;
  font-size: 4vw;
  text-shadow: 2px 2px grey, 4px 4px rgb(48, 45, 45), 6px 6px grey;
}

.change-background-profile {
  font-size: 40px;
}
.btn-rest-stats {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  color: white;
  width: 60px;
  padding: 0;
  border-radius: 10px;
  background-color: #0000001c;
}
.btn-rest-stats:hover {
  border: 2px white solid;
  transition: all 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.103);
}
.button-align{
  display: flex;
  justify-content: space-evenly;
}
.btn-reset-stats {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  color: white;
  width: 100%;
  padding-top: 10px;
  border-radius: 40px;
}
.btn-reset-stats-time {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  color: white;
  width: 40%;
  padding-top: 10px;
  border-radius: 40px;
}
.btn-reset-stats:hover {
  background-color: rgba(255, 255, 255, 0.103);
}
.box-img-planeswalker {
  margin-top: 3%;
}

.box-small-stats-div {
  width: 40%;
  min-width: 200px;
  margin-left: 2%;
  transition: all 1s ease-in-out;
  float: inline-start;
  
}
.box-big-stats-div {
  transition: all 1s ease-in-out;
}

.profile-image-css-smoll {
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  width: 35vw;
  min-width: 200px;
  float: left;
  border-radius: 15px;
  transform: scale(0.5);
}

.profile-image-css {
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  width: 35vw;
  min-width: 200px;
}
.profile-image-css:hover {
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
  scale: 1.3;
}

#profile-size-box {
  height: auto;
  text-shadow: 1px 1px grey;
  text-align: center;
}
.app-container-pj{
  position:fixed;
  display: flex;
  z-index: 20;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.ddFis {
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666446283/donGions%20imgs/backgroundEffects/pngwing.com_-_2022-10-22T154416.136_g5otzs.png");
  background-repeat: no-repeat;
  background-size: 100px;
}
.img-count{
  width: 600px;
}
.stats-salud-block {
  background-color: black;
  margin: 0px;
  padding: 1px;
  display: flex;
}
.stats-salud {
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666461663/donGions%20imgs/backgroundEffects/dsa914.411_l6xp0l.png");
  background-size: cover;
  border: 1px rgb(0, 238, 255) solid;
  width: 100%;
  font-size: calc(14px + 1vw);
  padding: 0px 10px;
  min-width: 185px;
  justify-content: space-between;
}
.stats-defence {
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666461261/donGions%20imgs/backgroundEffects/meral_kcimmw.png");
}
.stats-damage {
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666461441/donGions%20imgs/backgroundEffects/dsa_gsdxir.png");
}
.stats-chars-box{
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666696984/donGions%20imgs/shop/dark-abstract-black-minimal-4k-q0-960x540_ki3zxx.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: space-evenly;
}
.stats-chars {
  border: 1px rgba(255, 255, 255, 0.352) solid;
  border-radius: 15px;
  font-size: calc(13px + .4vw);
  padding: 2px 3px;
  flex-grow: 1;
}
.stats-chars-title {
  border: 1px rgba(255, 255, 255, 0.352) solid;
  border-radius: 3px;
}

.inner-box-stats {
  border: 10px rgb(74, 82, 83) ridge;
  border-radius: 10px;
  padding: 2px;
  overflow: auto;
  white-space: nowrap;
  max-width: 700px;
}
.inner-box-stats>div{
 display: flex;
 justify-content: space-evenly;
}
.button-mostrar-mejoradas {
  text-decoration: none;
  font-size: calc(26px + .9vw);
  color: rgb(57, 18, 26);
  text-shadow: 2px 2px rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
}
.button-mostrar-mejoradas:hover {
  transition: all 0.4s ease-in-out;
  color: rgb(120, 7, 7);
}

.material-container {
  margin: 3%;
  list-style: none;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.character-item-bag{
  background-color: red;
}
.material-item-bag {
  width: 100%;
  max-width: 300px;
  padding-top: 50px;
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666696571/donGions%20imgs/shop/dsa_nombre_xihoas.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.big-stats-box{
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666696571/donGions%20imgs/shop/dsa_nombre_xihoas.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.material-item {
  color: rgb(222, 179, 132);
  text-shadow: 1px 1px #1f1b10;
  box-shadow: 0px 2px 4px #413519;
  border-radius: 5px;
  font-size: calc(14px + .9vw);
  padding: 1px;
  background-color: rgba(89, 70, 70, 0.584);
  text-align: center;
  border: 2px solid transparent;
  height: 36px;
  width: 100%;
  min-width: 160px;
}
.mats-items {
  color: rgb(239, 239, 252);
  font-size: calc(15px + .5vw);
  margin-left: 2px;
}
.material-item:focus {
  outline: none;
  border: 2px solid #4a9af5;
}
.material-item-ul{
  padding: 3px;
}

.input-monster-name{
  width: 95%;
  font-size: 14px;
  background-color: black;
  color: white;
}
.lista-de-monstruos{
  display: inline-block;
  width: 900px;
}
.button-pj{
  position: absolute;
  display: block;
  z-index: 40;
  position: fixed;
  border: outset 3px grey;
  background-color: rgba(0, 0, 0, 0.773);
  color: white;
  transition: 0.2s ease-in-out;
  font-size: calc(26px + 0.5vw);
  padding: 2px 15px;
}
.button-pj:hover{
background-color: rgb(9, 0, 37);
border: inset 6px rgb(180, 174, 174);
padding: 0px 13px;
}