@media screen and (max-width: 765px) {
  .btn-rules-toggle {
    position: relative;
    max-height: 50px;
    text-align: center;
  }

.combat-disposition{
display: flex;
flex-direction: column;
align-items: center;
}

.talent-tree-img-hover-text {
  font-size: 3.5px;
}

.talent-tree-img-hover-text header {
  font-size: 5px;
}
.talent-tree-btn:hover {
  scale: 4.5;
}
.big-img:hover .talent-tree-img-hover-text{
  font-size: 9.5px;
}
.big-img:hover .talent-tree-img-hover-text header{
  font-size: 11.5px;
}
.big-img:hover{
  scale: 2;
  font-size: 30px;
}
.talent-tree-btn {
  max-width: 120px;
  max-height: 120px;
}

}