@media screen and (max-width: 765px) {
  .btn-rules-toggle {
    position: relative;
    max-height: 50px;
    text-align: center;
  }

.combat-disposition{
display: flex;
flex-direction: column;
align-items: center;
}

.talent-tree-img-hover-text {

  font-size: 3.5px;
}
.talent-tree-img-hover-text header {
  font-size: 5px;
}
.talent-tree-btn:hover {
  scale: 4;
}
}