.talent-tree-box {
  width: 100%;
  max-width: 700px;
  margin-top: -20px;
  z-index: 10;
}

.talent-tree-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blue; */
  height: 200px;
}


.btn-luchador {
  background: none;
  color: white;
  transition: 0.5s ease-in-out all;
}
.btn-luchador:hover {
  border: 1px solid rgb(255, 230, 0);
}

.talent-tree-btn {
  position: absolute;
  top: 0px;
  margin: auto;
  padding: 3px 5px;
  font-size: calc(10px + 0.3vw);
  width: calc(30px + 5vw);
  height: calc(30px + 5vw);
  min-width: 70px;
  min-height: 70px;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border:1px dashed var(--luchador);
  transition: 0.3s ease-in-out all;
}


.talent-tree-btn-line-hor {
  width: 50px;
  height: 10px;
  background: 
    linear-gradient(to bottom, black, black, var(--luchador), black, black),
    linear-gradient(to left, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), black);
  background-blend-mode: overlay;
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  align-items: center;
  z-index: -10;
  border-radius: 30px;
  overflow: hidden;
}

.talent-tree-btn-line-ver {
  height: 70px;
  margin-top: 10px;
  min-width: 10px;
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  border: none;
  z-index: -10;
  border-radius: 30px;
  background: linear-gradient(to left, black,black, var(--luchador), black,black),
  linear-gradient(to bottom, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), black);
  background-blend-mode: overlay;
}
.verAnimation{
  animation: opaVer 2s ease-in-out infinite;
  overflow: hidden;
}

.horAnimation{
  animation: opaHor 2s ease-in-out infinite;
  overflow: hidden;
}
@keyframes opaHor {
  1%,100%{
    opacity: 0.2;
}
  50%{
    opacity: 0.9;
 }
}
@keyframes opaVer {
  1%,100%{
    opacity: 0.2;
}
  50%{
    opacity: 0.9;
 }
}



.talent-tree-btn:hover .talent-tree-img-hover-text {
  opacity: 1;
}
.talent-tree-btn:hover {
  scale: 3;
  position: absolute;
  z-index: 10;
}
.talent-tree-btn-left:hover{
transform: translateX(30px);
}
.talent-tree-btn-right:hover{
  transform: translateX(-30px);
}

.talent-tree-btn-hor-container{
height: 15vw;
min-height: 120px;
}

.talent-tree-btn-active {
  margin: auto;
}


.talent-tree-filled-ver{
  background: linear-gradient(to right,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
}
.talent-tree-filled-hor{
  background: linear-gradient(to bottom,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
}


.talent-to-select {
  margin: auto;
  border: 1px solid;
  border-image: conic-gradient(from var(--angle), var(--c3), var(--c5) 0.1turn, var(--c4) 0.15turn, var(--c5) 0.25turn) 10;
  animation: borderRotate var(--d) linear infinite forwards;
  border-radius: 10px;
  transition: all .4s ease-in-out;
  opacity: 1;
  padding: 5px 10;
}

.talent-selected {
  /* background-color: var(--luchador); */
  color: black;
  border-radius: 10%;
}

@keyframes selectTalent {
  0%, 100% {
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.297);
  }
  50% {
    box-shadow: 0 0 20px white, 0 0 30px rgba(255, 255, 255, 0.8);
    color: black;
  }
}

/* Talent tree images */
.luchador-color {
  border: 4px double var(--luchador);
}

.hechicero-color {
  border: 4px double var(--hechicero);
}

.cazador-color {
  border: 4px double var(--cazador);
}

.talent-tree-img-luchador {
  border-radius: 20px;
  position: relative;
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.image-container-talent-tree {
  position: relative;
  display: inline-block;
  margin: 50px 0px;
  width: 30%;
  min-width: 250px;
  transition: 0.3s ease-in-out;
}
.image-container-talent-tree-counter {
  position: absolute;
  z-index: 1 ;
  left: 50%;
  backdrop-filter: blur(0.5em);
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--luchador);
  text-shadow: 1px 1px black;
}


.talent-tree-img-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.691);
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 90%;
  max-height: 70%;
  overflow: scroll;
  font-size: calc(5px + 0.3vw);
  border-radius: 5px;

}

.talent-tree-img-hover-text span {
  color: rgb(211, 88, 0);
}

.image-container-talent-tree:hover .talent-tree-img-hover-text {
  opacity: 1;
}

.image-container-talent-tree:hover .talent-tree-img-luchador {
  opacity: 0.4;
}
