.talent-tree-box {
  width: 100%;
  max-width: calc(550px + 20vw);
  margin-top: -20px;
  z-index: 10;
}

.talent-tree-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blue; */
  height: calc(140px + 5vw);
}


.btn-luchador {
  background: none;
  color: white;
  transition: 0.5s ease-in-out all;
}


.talent-tree-btn {
  border-radius: 50%;
  top: 0px;
  margin: auto;
  width: calc(10px + 8vw);
  height: calc(10px + 8vw);
  min-width: 70px;
  min-height: 70px;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out all;
  padding:0;
}


.talent-tree-btn-line-hor {
  width: calc(10px + 5vw);
  height: 10px;
  background: 
  linear-gradient(to bottom, black, black, var(--lineaTalento), black, black);
  background-blend-mode: overlay;
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  align-items: center;
  z-index: -10;
  border-radius: 30px;
  overflow: hidden;
}

.talent-tree-btn-line-ver {
  height: 70px;
  margin-top: 10px;
  min-width: 10px;
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  border: none;
  z-index: -10;
  border-radius: 30px;
  background: linear-gradient(to left, black,black, var( --lineaTalento), black,black),
  linear-gradient(to bottom, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--lineaTalento));
  background-blend-mode: overlay;
}
.horLeft{
  background: 
  linear-gradient(to bottom, black, black, var(--lineaTalento), black, black),
 linear-gradient(to left, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--lineaTalento));
}
.horRight{
  background: 
  linear-gradient(to bottom, black, black, var(--lineaTalento), black, black), 
  linear-gradient(to left,  var(--lineaTalento), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), black);
}
.verAnimation{
  animation: opaVer 2s ease-in-out infinite;
  overflow: hidden;
}

.horAnimation{
  animation: opaHor 2s ease-in-out infinite;
  overflow: hidden;
}
@keyframes opaHor {
  1%,100%{
    opacity: 0.5;
}
  50%{
    opacity: 0.9;
 }
}
@keyframes opaVer {
  1%,100%{
    opacity: 0.5;
}
  50%{
    opacity: 0.9;
 }
}



.talent-tree-btn:hover .talent-tree-img-hover-text {
  opacity: 1;
}
.talent-tree-btn:hover {
  scale: 2;
  position: absolute;
  z-index: 10;
}
.talent-tree-btn-left:hover{
transform: translateX(30px);
}
.talent-tree-btn-right:hover{
  transform: translateX(-30px);
}

.talent-tree-btn-hor-container{
height: 15vw;
min-height: 120px;
}

.talent-tree-btn-active {
  margin: auto;
}


.talent-tree-filled-ver{
  background: linear-gradient(to right,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
  animation: talentIsSelected 5s infinite ease-in-out;  
}
.talent-tree-filled-hor{
  background: linear-gradient(to bottom,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
  animation: talentIsSelected 5s infinite ease-in-out;
}
@keyframes talentIsSelected {
  0%, 100% {
    box-shadow: 0 0 9px rgba(245, 154, 42, 0.967);
  }
  50% {
    box-shadow: 0 0 9px white, 0 0 30px rgba(255, 255, 255, 0.8);
    color: black;
  }
}

.talent-to-select {
  margin: auto;
  border-image: conic-gradient(from var(--angle), var(--c3), var(--c5) 0.1turn, var(--c4) 0.15turn, var(--c5) 0.25turn) 10;
  animation: borderRotate var(--d) linear infinite forwards;
  border-width: 4px;
  border-radius: 0px;
  transition: all .4s ease-in-out;
  opacity: 1;
  
}
.bg-select{
  border-width: 10px;
}
/* .talent-selected {
  color: black;
  border-radius: 40%;
} */

@keyframes selectTalent {
  0%, 100% {
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.297);
  }
  50% {
    box-shadow: 0 0 20px white, 0 0 30px rgba(255, 255, 255, 0.8);
    color: black;
  }
}

/* Talent tree images */
.luchador-color {
  border: 4px double var(--luchador);
}

.hechicero-color {
  border: 4px double var(--hechicero);
}

.cazador-color {
  border: 4px double var(--cazador);
}

.talent-tree-img-luchador {
  border-radius: 20px;
  position: relative;
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.image-container-talent-tree {
  position: relative;
  display: inline-block;
  margin: 50px 0px;
  width: 30%;
  min-width: 250px;
  transition: 0.3s ease-in-out;
}
.image-container-talent-tree-counter {
  position: absolute;
  z-index: 1 ;
  left: 50%;
  top:10%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(0.5em);
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--luchador);
  text-shadow: 1px 1px black;
  background-color: rgba(127, 255, 212, 0.301);
  font-family: 'Montserrat', sans-serif;
}


.talent-tree-img-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  padding: 1px 2px 3px 2px;
  border-radius: 2px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 95%;
  max-height: 85%;
  overflow: scroll;
  font-size: calc(5px + 0.2vw);
  font-weight: 400;
  transition: 0.4s ease-in-out;
background-color: var(--luchador);
font-family: 'Montserrat', sans-serif;
}
.talent-tree-img-hover-text header {
  font-size: calc(8px + 0.2vw);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.talent-tree-img-hover-text span {
  color: rgb(211, 88, 0);
}
.image-container-talent-tree:hover .talent-tree-img-hover-text {
  opacity: 1;
  
}

.image-container-talent-tree:hover .talent-tree-img-luchador {
  opacity: 0.4;
}


.hover:hover{
  scale: 3.5;
}
.hover{
  transition: 0.2s ease-in-out;;
}





/* large */

.talent-tree-row-large {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blue; */
  width: calc(500px + 5vw); 
  height: calc(250px + 5vw);
  position: relative;
  /* margin-top: 5vw; */
}
.talent-tree-btn-large {
  /* margin: auto; */
  width: 33vw;
  height: 17vw;
  min-width: 270px;
  min-height: 150px;
  overflow-y: scroll;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out all;
  border-radius: 5%;
  padding: 0px;
}
.talent-tree-btn-large img{
width: 100%;
height: 100%;
}
.talent-tree-btn-large:hover .talent-tree-img-hover-text{
  opacity: 1;
  font-size: calc(5px + 0.8vw);

}
.talent-tree-btn-large:hover  .talent-tree-img-hover-text header{
  font-size: calc(5px + 1.2vw);
}
