.talent-tree-box {
  width: 95%;
  max-width: 850px;
  margin-top: -20px;
  z-index: 10;
}

.talent-tree-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-luchador {
  background-color: rgb(211, 88, 0);
  color: white;
  transition: 0.5s ease-in-out all;
}
.btn-luchador:hover {
  border: 2px solid rgb(255, 230, 0);
}

.talent-tree-btn {
  margin: auto;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: calc(10px + 0.3vw);
  width: 100%;
}

.talent-tree-btn-active {
  margin: auto;
  border-radius: 10px;
}

.talent-tree-btn-line-hor {
  min-width: 50px;
  height: 10px;
  background-color: rgb(18, 182, 0);
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  border: none;
  align-items: center;
  margin: 0px -10px;
  z-index: -10;
}

.talent-tree-btn-line-ver {
  min-width: 10px;
  height: 90px;
  background-color: rgb(242, 242, 242);
  cursor: default; /* Cambia el cursor a la flecha por defecto */
  pointer-events: none;
  border: none;
  margin: -15px 0px;
  z-index: -10;
}

.talent-tree-filled-ver{
  background: linear-gradient(to right,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
}
.talent-tree-filled-hor{
  background: linear-gradient(to bottom,  var(--luchador), black,  var(--luchador));
  transition: 2s ease-in-out ;
}

.talent-to-select {
  margin: auto;
  border: 3px solid;
  border-image: conic-gradient(from var(--angle), var(--c3), var(--c5) 0.1turn, var(--c4) 0.15turn, var(--c5) 0.25turn) 10;
  animation: borderRotate var(--d) linear infinite forwards;
  bottom: 2px;
  border-radius: 10px;
  transition: all .4s ease-in-out;
  opacity: 1;
}

.talent-selected {
  background-color: rgb(250, 194, 115);
  color: black;
}

@keyframes selectTalent {
  0%, 100% {
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.297);
  }
  50% {
    box-shadow: 0 0 20px white, 0 0 30px rgba(255, 255, 255, 0.8);
    color: black;
  }
}

/* Talent tree images */
.luchador-color {
  border: 4px double var(--luchador);
}

.hechicero-color {
  border: 4px double var(--hechicero);
}

.cazador-color {
  border: 4px double var(--cazador);
}

.talent-tree-img-luchador {
  border-radius: 20px;
  position: relative;
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  width: 30%;
  min-width: 250px;
  transition: 0.3s ease-in-out;
}

.talent-tree-img-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.691);
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 90%;
  max-height: 70%;
  overflow: scroll;
  font-size: calc(12px + 0.5vw);
  border-radius: 15px;
}

.talent-tree-img-hover-text span {
  color: rgb(211, 88, 0);
}

.image-container:hover .talent-tree-img-hover-text {
  opacity: 1;
}

.image-container:hover .talent-tree-img-luchador {
  opacity: 0.4;
}
